@{
    ViewData["Title"] = "Home Page";
}

   

@model List<SanPhamViewModel>
<h2>Danh sách sản phẩm</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Danh mục</th>
        <th>Giá bán</th>
        <th>Số lượng tồn</th>
        <th>Đơn vị</th>
        <th>Xuất xứ</th>
        <th>Mô tả</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sp in Model)
    {
        <tr>
            <td>@sp.IDSanPham</td>
            <td>@sp.TenSanPham</td>
            <td>@sp.IDDanhMuc</td>
            <td>@sp.GiaBan.ToString("N0")</td>
            <td>@sp.SoLuongTon</td>
            <td>@sp.DonViTinh</td>
            <td>@sp.XuatXu</td>
            <td>@sp.MoTa</td>
            <td>
                <a href="@Url.Action("Edit", "ProductManagement", new { id = sp.IDSanPham })" class="btn btn-sm btn-primary">Sửa</a>
                <a href="@Url.Action("Delete", "SanPham", new { id = sp.IDSanPham })" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này không?');">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
}